:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  --spotify-black: rgb(0, 0, 0);
  --spotify-sidebar-bg: rgb(38, 35, 35);
  --spotify-gray: rgb(57, 57, 57);
  --spotify-gray-hover: rgb(65, 65, 65);
  --spotify-light-gray: #b3b3b3;
  --spotify-green: #1db954;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #121212;
  color: #ffffff;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
